@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
    font-family: 'Baron';
    src: url(../fonts/baron/baronBold.woff2) format('woff2'),
        url(../fonts/baron/baronBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}